*.gcno
*.gcda
*.gcov
*.gch
*.la
*.lo
*.ncb
*.o
*.opensdf
*.sdf
*.suo
*.user
*.swp
.*.swp
.*.h.swp
.*.cpp.swp
.deps
.dirstamp
.libs
a.out.dSYM
aclocal.m4
autom4te.cache
build
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
html
install-sh
iphone
lcov*
libtool
ltmain.sh
Makefile
Makefile.in
missing
filesizefrompatch/filesizefrompatch
objectsarepatches/objectsarepatches
stamp-h1
Win32
x64
*.pb.cc
*.pb.h
tags
